.App {
  text-align: center;

}

.flexBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexItem {
  display: flex;
}

button{
  margin: 5px;
}

#second:hover {
  background-color: #5DBCD2;
  color:white;
}

#first {
  background-color: #5DBCD2;
  width: 165px;
  height: 50px;
  border: .02px solid black;
  color: white;


}

#second {
  width: 165px;
  height: 50px;
  border: .02px solid #5DBCD2;
  color: #5DBCD2;
}

#third {
  width: 165px;
  height: 50px;
  border: .02px solid #5DBCD2;
  color: #5DBCD2;
}